[Unit]
Description=Minutes Timer

[Timer]
#OnCalendar=*:0/1:00
OnCalendar=minutely
Unit=04-minutes.target
Persistent=true

[Install]
WantedBy=basic.target
