[Unit]
Description=Quarterly Timer

[Timer]
OnBootSec=30min
OnCalendar=01,04,07,10-01
Unit=06-quarterly.target
Persistent=true

[Install]
WantedBy=basic.target
