[Unit]
Description=Quarters Timer

[Timer]
OnBootSec=30min
#OnCalendar=01,04,07,10-01
OnCalendar=quarterly
Unit=09-quarters.target
Persistent=true

[Install]
WantedBy=basic.target
