[Unit]
Description=Six Months Timer

[Timer]
#OnCalendar=01,07-01
OnCalendar=semi-annually
Unit=10-sixmonths.target
Persistent=true

[Install]
WantedBy=basic.target
